@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap&subset=korean');


/* reset */
html {font-size:10px;}
body {
	font:normal 12px 'Noto Sans KR', sans-serif;
	line-height:1.3;
	color:black;
	font-weight: 400;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {list-style: none;}
a {text-decoration: none; color:black; letter-spacing: 0; }
a:hover {text-decoration-line:none; }
img {vertical-align: top}
em {font-style: normal}
input:focus { outline: none;}


/* layout */
.wrap {width: 100%; position: relative;}
header {width: calc(100% - 56px); background-color: #fce152; height:80px; padding:0 28px;} 
main {width: 100%; background: red;}
/* main .inner {width:90.03984% ; margin:0 auto;max-width: 1600px; }
footer {clear:both; width:100%; background-color: #EEEEEE;}
footer > .inner {width:90.03984% ; margin:0 auto;} */

/* common */
section {
	width: 100%;
	/* padding:0 28px; */
	background-color: #ffffff;
	/* box-sizing: border-box; */
}
section .inner {
	/* width: calc( 100% - 56px ); */
	width: calc( 100% - 100px );
	/* padding:0 28px; */
	padding:0 50px;
	/* background-color: whitesmoke; */
}
section h2 {
	font-size:5rem;
	margin-top:80px;
	margin-bottom: 58px;
}
.clear:after {
	content: '';
	display: block;
	clear: both;
}
.line {
	display: inline-block;
	box-shadow: inset 0 -15px 0 #fdf631;
}

/* header */
header {
	position: absolute;
	top:100vh;
}
header ul {text-align: right;}
header li {
	display: inline;
}
header a {
	line-height: 80px;
	padding:10px;
	margin-right:70px;
	/* border:1px solid black; */
	font-size:2rem;
}
header li:last-child  > a{
	margin-right:14px;
}
/* main */
section.top {
	height: 100vh;
	background-color: #06a07e;
}
section.top h1 {
	padding-top: 20.725388vh;
	/* 160 /772 */
	padding-top: 20.22792vh;
	/* 142 / 702 */
	text-align: center;
	display: block;
	/* border:1px solid black; */
	font-size: 7.2rem;
	line-height: 1.6;
}
section.top h1 > * {
	color:white;
	display: block;
}
section.top h1 span:nth-child(odd), section.top .top_tag em {
	color:#f4fd03;
}
section.top .top_tag {
	position: absolute;
	top: 88.1766381766382vh;
	left:0;
	right:1vw;
	text-align: right;
	/* border:1px solid red; */
	/* padding-top: 18.134715vh; */
	/* 140 / 772 */
	/* margin-bottom: 8.95691vh; */
	/* 89 / 772 */
}
section.top .top_tag > * {
	font-size: 2rem;
	line-height: 1.3;
	display: block;

}
section.top .top_tag strong {
	color: white;
}
section.top .scroll_icon {
	position: absolute;
	top: 88.1766381766382vh;
	/* 619 / 702 */
	left: 0;
	right: 0;
	text-align: center;
	color:white;
	font-size: 2rem;
	/* border: 1px solid white; */
}
.scroll_icon:after {
	margin: 0 auto;
	clear: both;
	display: block;
	content: '';
	width: 10px;
	height:16px;
	padding-top:5px;
	background: url('../images/bx-chevrons-down.svg') no-repeat center ;
	-webkit-animation: upDownScroll 0.3s infinite linear alternate;
	-moz-animation: upDownScroll 0.3s infinite linear alternate;
    -ms-animation: upDownScroll 0.3s infinite linear alternate;
	animation: upDownScroll 0.3s infinite linear alternate;
	/* animation: upDownScroll 0.5s infinite linear; */
}

@keyframes upDownScroll {
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
}
@-webkit-keyframes fadeOut { 
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
 }
@-moz-keyframes fadeOut { 
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
 }
@-ms-keyframes fadeOut { 
	0%{transform: translateY(0);}
	100%{transform: translateY(10px);}
 }





section.about {
	/* background-color: teal; */
	/* height:100vh; */
}
section.about h2 {
	/* margin-top:170px; */
	margin-top:80px;
	margin-bottom: 58px;
}
section.about .inner > div {
	float: left;
}
section.about .inner .my_main {
	/* width: calc( 100% - 10px); */
	/* width: 570px; */
	width: calc( 50% - 10px );
	max-width: 600px;
	/* padding-bottom: 56.3689604685212vw; */
	/* 770 / 1366 */
	/* height: 770px; */
	/* height: 500px; */
	margin: 10px 0 0 10px;
	background-color: #fffae5;
	box-shadow: -10px -10px #fddb31 ;
}
.my_main > .main_img {
	width:341px;
	height:0;
	padding-bottom: 341px;
	margin:0 auto;
	margin-top:42px;
	/* border:1px solid black; */
	border-radius: 50%;
	background: url('../images/main_img.jpeg') no-repeat center -150px / 590px auto;
}
.my_main > .main_text {
	padding:68px 40px 60px;
	text-align: center;
}
.my_main > .main_text > strong {
	font-size:2.6rem;
	/* 1rem = 10px */
	font-weight: 400;
	color: #008e6f;
	padding-bottom:22px;
}
.my_main > .main_text > p {
	font-size:1.6rem;
	font-weight: 300;
	padding-top:22px;
}
section.about .inner .my_text {
	width:42.293233%;
	display: block;
	padding-top:20px;
	/* margin-left:82px; */
	margin-left:7.7067669172932%;
	/* 82 / 1064 */
	font-size:1.8rem;
	font-weight: 400;
	
	/* background-color: red; */
}
.text_information {
	background-color: #ffffff;
}
.my_text .text_information li {
	margin-bottom:12px;
}
.my_text .text_information span {
	color: #666666;
}
.my_text .text_information strong {
	font-weight: 400;
}

.my_text .text_objective {
	margin-top:34px;
}

.my_text .text_objective span:after {
	/* display: block;
	content: '';
	clear: both;
	top:10px;
	left:0;
	right: 0;
	border:5px solid #fdf631;
	z-index: 0;
	position: absolute;
	position: absolute; */
	/* box-shadow: inset 0 -15px 0 #fdf631; */
}
.my_text .text_ability {
	margin-top: 45px;
}
.my_text .text_ability li {
	position: relative;
	line-height: 35px;
}
.my_text .text_ability li:before {
	position: absolute;
	top: 8px;
	display: block;
	content: '';
	clear: both;
	/* border:1px solid black; */
	width:20px;
	height: 20px;
	background: url('../images/bx-check.svg') no-repeat center;
}
.my_text .text_ability em {
	padding-left:34px;
}
.my_text .text_ability span {
	color: #e96161;
}



/* 도넛차트 */

.card {
	display: inline-block;
	/* float: left; */
	background: #fff;
	margin-top: 50px;
	/* 원래 margin-top 0 이었음 */
}
.donut-chart {
	position: relative;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 20px;
}
.donut-chart .quad {
	position: absolute;
	top: 0;
	left: 0;
}
.donut-chart .chart-center {
	position: absolute;
	border-radius: 50%;
}
.donut-chart .chart-center span {
	display: block;
	text-align: center;
}


@keyframes chart4 {
	0% {
		-webkit-transform: rotate(0deg);
   }
	100% {
		-webkit-transform: rotate(334.8deg);
   }
}
@keyframes thirdchart4 {
	0% {
		-webkit-transform: rotate(0deg);
   }
	100% {
		-webkit-transform: rotate(314.8deg);
   }
}
@keyframes chartRotate2 {
	0% {
		-webkit-transform: rotate(0deg);
   }
	100% {
		-webkit-transform: rotate(90deg);
   }
}
@keyframes chartRotate3 {
	0% {
		-webkit-transform: rotate(0deg);
   }
	100% {
		-webkit-transform: rotate(180deg);
   }
}
@keyframes chartRotate4 {
	0% {
		-webkit-transform: rotate(0deg);
   }
	100% {
		-webkit-transform: rotate(270deg);
   }
}
@keyframes chartCover {
	0%, 90% {
		opacity: 1;
   }
	90%, 100% {
		opacity: 0;
   }
}
.donut-chart.chart4 {
	width: 100px;
	height: 100px;
	background: #e1e1e1;
}
.donut-chart.chart4 .quad {
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
	display: none;
}
.donut-chart.chart4 .quad.one {
	transform: rotate(334.8deg);
	transform-origin: bottom right;
	background: #50c690;
	-webkit-animation: chart4 0.5s linear;
    -moz-animation: chart4 0.5s linear;
    -ms-animation: chart4 0.5s linear;
	animation: chart4 0.5s linear;
	display: block;
}
.donut-chart.chart4 .quad.two {
	transform: rotate(90deg);
	transform-origin: bottom right;
	background: #50c690;
	-webkit-animation: chartRotate2 0.5s linear;
    -moz-animation: chartRotate2 0.5s linear;
    -ms-animation: chartRotate2 0.5s linear;
	animation: chartRotate2 0.5s linear;
	display: block;
}
.donut-chart.chart4 .quad.three {
	transform: rotate(180deg);
	transform-origin: bottom right;
	background: #50c690;
	-webkit-animation: chartRotate3 0.5s linear;
    -moz-animation: chartRotate3 0.5s linear;
    -ms-animation: chartRotate3 0.5s linear;
	animation: chartRotate3 0.5s linear;
	display: block;
}
.donut-chart.chart4 .quad.four {
	transform: rotate(270deg);
	transform-origin: bottom right;
	background: #50c690;
	-webkit-animation: chartRotate4 0.5s linear;
    -moz-animation: chartRotate4 0.5s linear;
    -ms-animation: chartRotate4 0.5s linear;
	animation: chartRotate4 0.5s linear;
	display: block;
}
.donut-chart.chart4 .quad.top {
	display: block;
	background: #e1e1e1;
	opacity: 0;
	/* animation: chartCover 0.01s linear 0.4166666667s both; */
	/* animation: chartCover 0.5s linear 0.4166666667s both; */
}
.donut-chart.chart4 .chart-center {
	top: 16px;
    left: 15px;
    width: 70px;
    height: 70px;
    background: #fff;
}
.donut-chart.chart4 .chart-center:after {
	display: inline-block;
	width: 100%;
	font-size: 20px;
	color: #50c690;
	text-align: center;
	line-height: 66px;
	content: "90%";
}
.fourth_donut .donut-chart.chart4 .quad {
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
	border-radius: 100% 0 0 0;
	display: none;
}
.third_donut .donut-chart.chart4 .quad.one {
	transform: rotate(314.8deg);
	animation: thirdchart4 0.5s linear;
	
}
.third_donut .donut-chart.chart4 .chart-center:after {
	content: "80%";
}

.fourth_donut .donut-chart.chart4 .quad.one, .fourth_donut .donut-chart.chart4 .quad.two, .fourth_donut .donut-chart.chart4 .quad.three , .fourth_donut .donut-chart.chart4 .quad.four {
	display: inline-block;
	background-color:#50bca4;
	animation: none;
}
.fourth_donut .donut-chart.chart4 .quad.one {
	transform: rotate(0deg);
}
.fourth_donut .donut-chart.chart4 .chart-center:after {
	content: "ing";
}
.card > div {
	text-align: center;
	/* background: yellow; */
	padding:0 21px;
	float: left;
}

.card span {
	margin-top:10px;
	/* border:1px solid black; */
	color: #989898;
}


.portfolio {
	display: inline-block;
	/* background-color: teal; */
}
.portfolio .port_contents {
	display: inline-block;
	width:100%;
}
.portfolio .port_contents > li {
	display: inline-block;
	width:100%;
	padding-bottom: 160px;
}
.portfolio .port_display {
	width: 54vw;
	width: calc(50% - 100px);
	width: 50%;
}
.portfolio .port_display > a{
	display: inline-block;
	max-width: 600px;
}
.portfolio .port_display > a > img{
	width:100%;
}
.port .port_workAbout {
	width:calc(100% - 58px - 54vw );
	width: calc(50% - 100px);
	/* background-color: violet; */
}


.workAbout_text > * {
	display: block;
}

.port_workAbout .number, .port_workAbout em {
	font-size:3.5rem;
	font-weight: bold;
	margin-bottom: 20px;
}
.workAbout_text .sub {
	font-size: 2.25rem;
	margin-bottom: 10px;
}
.workAbout_text p {
	font-size: 1.8rem;
	line-height: 2.8rem;
	margin-bottom: 20px;
}
.workAbout_text p > b {
	color:#06a07e;
}
.workAbout_text span.line {
	display: inline-block;
	font-size: 2rem;
	margin-bottom: 20px;
}

.workAbout_btn > button {
	display: block;
	width:100%;
	max-width: 350px;
	font-size:1.8rem;
	/* font-weight: bold; */
	line-height: 3rem;
	color: #fdf403;
	background-color: #06a07e;	
	border: none;
	margin-bottom: 10px;
}
.workAbout_btn > button:hover {
	color: #000000;
	background-color: #fddb31;
	box-shadow:5px 5px #06a07e;
}

/* btn이 하나일때 */
.port_workAbout .btn_one_text .number, .port_workAbout .btn_one_text  em, .workAbout_text.btn_one_text p, .workAbout_text.btn_one_text span.line {
	margin-bottom: 40px;
}


.port.first .port_display, .port.third .port_display, .port.fifth .port_display, .port.seventh .port_display{
	float:left
} 
.port.first .port_workAbout, .port.third .port_workAbout, .port.fifth .port_workAbout, .port.seventh .port_workAbout {
	float:right
} 
.port.second .port_display, .port.fourth .port_display, .port.sixth .port_display, .port.eighth .port_display  {
	float:right
} 
.port.second .port_workAbout, .port.fourth .port_workAbout, .port.sixth .port_workAbout, .port.eighth .port_workAbout {
	float:left
} 




/* footer */
footer {
	text-align: center;
	background-color: #fffae5;
	padding:30px 0;
}
footer > * {
	display: block;
}
footer > strong {
	font-size:5rem;
	color: #06a07e;
	padding-bottom:30px;
}
footer > span {
	font-size:1.5rem;
	font-weight: lighter;
	line-height: 2.2rem;
	color: #666666;
}

/* 1023 이하 */
@media screen and (max-width:1023px) {
	.my_main > .main_text > strong {
		font-size: 2rem;
	}
	.my_main > .main_text > p {
		font-size: 1.4rem;
	}
	section.about .inner .my_text {
		font-size:1.4rem
	}
	.port_workAbout .number, .port_workAbout em {
		font-size: 2.6rem;
	}
	.workAbout_text .sub {
		font-size:2rem;
	}
	.workAbout_text span.line {
		font-size: 1.6rem;
	}
	
}
/* 768 이하 */
@media screen and (max-width:768px) {
	section.top h1 {
		font-size:4em;
	}
	section.top .top_tag {
		top: 74.176638vh;
	}
	section.about .inner .my_main {
		width: 100%;
	}
	section.about .inner .my_text {
		width:100%;
		margin-top:40px;
	}
	.portfolio .port_contents > li {
		padding-bottom: 100px;
	}

	.portfolio .port_display {
		text-align: center;
	}
	.portfolio .port_display {
		width:100%;
	}
	.port .port_workAbout {
		width:100%;
		text-align: center;
	}
	.port_workAbout .number, .port_workAbout em {
		font-size: 3rem;
	}
	.workAbout_btn > button {
		margin:0 auto;
		margin-bottom:10px;
	}

	
}