@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap&subset=korean');


/* reset */
body {
	font:normal 12px 'Noto Sans KR', sans-serif;
	line-height:1.6;
	color:black;
	font-weight: 400;
	background-color:#fff;
	margin:0;
	padding:0;
}
h1, h2, h3, h4, h5, h6 {font-size:1em;}
h1, h2, h3, h4, h5, h6, div, p, dl, dt, dd, ul, ol, li, form, fieldset, blockquote, address, table, thead, tbody, tfoot, tr, td, caption {
	margin:0;
	padding:0;
}
ul, ol {list-style: none;}
a {text-decoration: none; color:black; letter-spacing: 0; }
a:hover {text-decoration-line:none; }
img {vertical-align: top;}
em {font-style: normal}
input:focus { outline: none;}




/* layout */
.wrap { width: 100%; height:100%; min-width:320px; overflow: hidden; }
header { width:90%; max-width: 1600px; margin:0 auto; } 
main { width: 100%; }
main .inner { width:90.03984% /*1356/1506*/; max-width: 1600px; margin:0 auto; }
footer { clear:both; width:100%; background-color: #EEEEEE; }
footer > .inner { width:90.03984% /*1356/1506*/; margin:0 auto; }



/* common */
a:active {
	border:1px dotted black;
}
.clear:after {
	display: block;
	clear: both;
	content: '';
}


/* header*/
header {
	position: relative;
	height: 54px; 
	padding: 14px 10px 17px ;
	box-sizing: border-box;
}
header h1 {
	float: left;
}
header h1 img {
	height: 23px;
}
header .head_top {
	float: left;
	padding-left: 19px;
}
header .head_top a {
    display: inline-block;
	padding: 5px 11px 13px 10px;
}
header .head_ms {
	position: absolute;
	right: 0;
	float: left;
	margin-right: 277px;
	font-size: 13px;
}
header > .head_ms >li > a {
	position: relative;
	padding: 18px 16px 17px;
}
header > .head_ms >li > a:active {
	background-color: #F2F2F2;
}
.head_ms .material-icons{
	position: absolute;
	top: 20px;
	font-size: 20px;
}
header .head_ms > li ul {
	display: none;
}
header .head_ms > li ul.on{
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 500;
	width: 1228px;
	margin-top: 38px;
	margin-right: -340px;
	font-size: 0;
	border-top: 1px solid #E6E6E6;
	background-color: #F2F2F2;
}
.head_ms ul.on > li {
	float: left;
	width: 16.666666%;
	height: 310px;
	box-sizing: border-box;
	padding-bottom: 10px;
	font-size: 13px;
}
.head_ms ul.on > li > * {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	font-weight: 300;
}
.head_ms  ul.on > li > strong {
	padding-bottom: 8px;
	font-weight: 500;
}
.head_ms  ul.on > li > a:after {
	display: none;
}
.head_ms  ul.on > li > a:hover{
	text-decoration-line: underline;
}
.head_ms ul.on > li.sitemap {
	float: none;
	text-align: center;
}
.head_ms ul.on > li.sitemap > div {
	position: absolute;
	right: 0;
	bottom: -40px;
	width: 100%;
	height: 38px;
	padding: 0;
	border-bottom: 2px solid black;
	background-color: #E6E6E6;
}
.head_ms ul.on > li.sitemap > div > a {
	display: inline-block;
	position: relative;
	padding: 10px 10px;
}
.head_ms ul.on > li.sitemap > div > a:after{
	position: absolute;
	top: 10px;
	right: -10px;
	width: 16px;
	height: 24px;
	background: url('../images/arrow_right2.svg') no-repeat 0 0/auto 19px;
	content: '';
}
header .head_icons {
	float:right;	
}
header .head_icons > * {
	position: absolute;
	top: 14px;
	right: 0;
	float: left;
}
header .head_icons i {
	padding-left: 10px;
	vertical-align: middle;
}
header .head_icons i.seacrh_i {
	padding-bottom: 5px;
	padding-left: 0;
	margin-left: 5px;
}

header .icon_search{
	top: 10px;
	margin-right: 191px;
} 
header .icon_cart{
	margin-right: 108px;
} 
header .icon_log{
	top: 8px;
} 
 header .head_icons > div> a {
	padding: 15px 11px 15px 10px;
} 

.icon_search .search_box {
	display: none;
}
.icon_search.on .search_box {
	display: block;
}
.icon_search.on {
	top: 0;
	left: 118px;
	z-index: 1000;
	width: 92.398478%;
	height: 44px;
	padding-top: 10px;
	background-color: white;
	font-size: 0;
}
.icon_search.on > a {
	position: static;
}
.icon_search.on > a > i {
	position: absolute;
	right: 0;
	z-index: 500;
	padding-top: 5px;
	margin-right: 11.400651%;
}

.head_icons .search_box input[type="search"] {
	position: absolute;
	left: 0;
	width: 84.827144%; /*1325 / 1562 */
	height: 34px;
	box-sizing: border-box;
	padding-left: 10px;
	margin-left: 4.246284%; /*60 / 14138 */
	border: 2px solid black;
	font-size: 14px;
}
.head_icons .search_box .search_cn {
	position: absolute;
	right: 12px;
	padding: 5px;
	margin-right: 42px;
	color: rgba(0, 0, 0, 0.6);
	font-size: 13px;
}
.head_icons .search_box .search_cn:hover:after {
	display: none;
}
.search_box .prev {
	display: none;
}
.search_box .prev {
	position: absolute;
	top: 10px;
	left: 5px;
	width: 40px;
	height: 40px;
}
.search_box .prev i {
	display: block;
	padding-top: 5px;
	padding-left: 5px;
	margin: 0 auto;;
}
header nav{
	display: none;
}
header nav > a {
	display: inline-block;
	position: relative;
	top: -10px;
	left: -8px;
	padding: 15px;
}
header nav a span {
	display: block;
	left: 12px;
	width: 20px;
	border-bottom: 2px solid black;
}
header nav a span:nth-child(1) {
	top: 0
}
header nav a span:nth-child(2) {
	padding-bottom: 5px;
}
header nav a span:nth-child(3) {
	padding-bottom: 5px;
}


header nav a.on span:nth-child(1) {
	transform: translateY(5px)  rotate(-45deg);
}
header nav a.on span:nth-child(2) {
	opacity: 0;
}
header nav a.on span:nth-child(3) {
	transform: translateY(-8px) translateX(1px) rotate(45deg);
}

nav > ul {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 1000;
	width: 100%;
	border-top: 1px solid #e6e6e6;
	border-bottom: 1px solid black;
	background-color: #F2F2F2;
	font-size: 14px;
}
nav > ul a {
	display: block;
	position: relative;
	padding: 16px 0 14px 16px;
	border-bottom: 1px solid #e6e6e6;
}
nav > ul > li > ul {
	display: none;
}
nav > ul > li.on > ul{
	display: block;
}
nav > ul > li.on > ul > li{
	margin-left: 30px;
}
nav .material-icons {
	position: absolute;
	top: 15px;
	right: 25px;
	font-size: 20px;
}
nav .material-icons.up {
	display: none;
}
nav > ul > li.on .material-icons.up {
	display: block;
}
nav > ul > li.on .material-icons.down {
	display: none;
}
nav > ul > li .material-icons.down {
	display: block;
}
header h1 a:hover:after, .icon_log a:hover:after {
	display: none;
}
header a{
	position: relative;
}

.head_top a:hover:after, .head_ms li > a:hover:after, .icon_search a:hover:after, .icon_cart a:hover:after  {
	position: absolute;
	right: 0;
	bottom: 10px;
	left: 0; 
	width: 80%;
	margin: 0 auto;
	border-bottom: 2px solid black;
	content: '';
}
.head_icons .icon_search a:hover:after {
    left: -25px;
	width: 30%;
}
.head_icons .icon_cart a:hover:after {
    left: -32px;
	width: 30%;
}




/* footer */
footer .inner {
	margin-top: 50px;
}
footer a {
	color: #616161;
	font-size: 11px;
}
footer a:hover {
	text-decoration-line: underline ;
}
.f_contents {
	width: 100%;
	padding-top: 35px;
	padding-bottom: 48px;
}
.f_contents > li {
	float: left;
	width: 16.66666666666667%;
	box-sizing: border-box;
	padding: 0 2px;
}
.f_contents > li > * {
	display: block;
}
.f_contents > li strong {
	margin-bottom: 12px;
	color: #616161;
	font-size: 15px;
}
.f_contents > li a {
	margin-top: 14px;
}
.f_lang {
	float: left;
}
.f_lang .bx.bx-world {
	color: #5d5d5d;
	vertical-align: -5px;
}
.f_etc {
	float: right;
	padding-bottom: 20px;
}
.f_etc a {
	padding-right: 24px;
	padding-left: 5px;
}
.f_etc em {
    color: #616161;
	font-size: 11px;
}



/* main slider*/
div.bx-wrapper {
	margin-bottom: 0;
	border: none;
	box-shadow: none;
}
div.bx-wrapper .bx-pager, div.bx-wrapper .bx-controls-auto {
	bottom: 28px;
}
div.bx-wrapper .bx-pager.bx-default-pager a {
	width: 5px;
    height: 5px;
	border: 1px solid black;
	border-radius: 100%;
	background-color: transparent;
}

div.bx-wrapper .bx-pager.bx-default-pager a:hover, div.bx-wrapper .bx-pager.bx-default-pager a.active, div.bx-wrapper .bx-pager.bx-default-pager a:focus {
	background-color: black;
}
div.inner.on .bx-pager.bx-default-pager a {
	border: 1px solid white;
}

div.inner.on .bx-pager.bx-default-pager a:hover, div.inner.on .bx-pager.bx-default-pager a.active, .inner.on .bx-pager.bx-default-pager a:focus {
	background-color: white;
}
div.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	width: 50%;
	text-align: right;
}
div.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 45%;
}
.bx-wrapper div.inner .bx-controls-direction a {
	display: none;
}
.bx-wrapper:hover div.inner .bx-controls-direction a {
	display: block;
	top: 43.681747%;
	z-index: 0;
    float: left;
    width: 42px;
    height: 42px;
	margin-top: 0;
    border-radius: 50%;
    font-size: 0;
}
.bx-wrapper .bx-controls-direction a {
	display: none;
}
.bx-wrapper:hover .bx-controls-direction a {
	display: block;
}
.bx-wrapper div.inner .bx-next, .bx-wrapper div.inner .bx-next:hover, .bx-wrapper div.inner .bx-next:focus {
	right: 0;
	background: rgba( 0, 0, 0, 0.5) url('../images/slide_arrow_right_white.svg') no-repeat 9px 8px;
}
.bx-wrapper div.inner .bx-prev, .bx-wrapper div.inner .bx-prev:hover, .bx-wrapper div.inner .bx-prev:focus {
	left: 0;
	background: rgba( 0, 0, 0, 0.5) url('../images/slide_arrow_left_white.svg') no-repeat 12px 8px;
}
.bx-wrapper div.inner.on .bx-next, .bx-wrapper div.inner.on .bx-next:hover, .bx-wrapper div.inner.on .bx-next:focus {
	background: rgba(255, 255, 255, 0.5) url('../images/slide_arrow_right.svg') no-repeat 9px 8px;
}
.bx-wrapper div.inner.on .bx-prev, .bx-wrapper div.inner.on .bx-prev:hover, .bx-wrapper div.inner.on .bx-prev:focus {
	background: rgba(255, 255, 255, 0.5) url('../images/slide_arrow_left.svg') no-repeat 12px 8px;
}



/* main */
.main_visual .inner {
	position: relative;
}
.main_visual .inner .m_vs_slide img {
	width: 100%;
}
main .text {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 300;
	width: 500px;
	height: 157px;
	margin-left: 6.0471976%;/*82/1356*/
}
.main_visual .m_vs_slide1 .text {
	padding-top: 12.168141%; /*165/1356*/
}
.main_visual .m_vs_slide2 .text {
	padding-top: 7.005899%; /*95/1356*/
}
.main_visual .m_vs_slide1 a {
	color: white;
}
main .text h2 , main .text h3{
	margin-bottom: 5px;
	font-size: 49px;
}
main .text em , main .text p{
	font-size: 14px;
}
main .text .button {
	position: relative;
	width: 157px;
	height: 38px;
	margin-top: 23px;
	border-top: 1px solid #E6E6E6;
	border-bottom: 1px solid #E6E6E6;
	background-color: white;
	color: black;
}
main .m_vs_slide2 .text .button {
	background-color: black;
	color: white;
}
main .text .button:hover {
	filter: brightness(90%);
} 
main .text .button span:after {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 2px solid black; 
	content: '';
	opacity: 0;
}
main .text .button:hover span:after {
	opacity: 1;
	transition: all 0.5s ease;
}
main .text .button:hover i {
	right: 10px;
	transition: all 0.3s ease;
}
main .text .button span , main .text .button i{
	position: absolute;
	top: 8px;
}
main .text .button span {
	left: 25px;
	font-weight: 600;
	font-size: 15px;
	transition: all 0.5s ease;
}
main .text .button:hover span {
	left: 20px;
	opacity: 1;
	transition: all 0.5s ease;
}
main .text .button i {
	right: 15px;
}

.main_visual [class^="slide"] {
	position: absolute;	
}


.main_contents .col4{
	width: calc(100% + 24px);
	overflow: hidden;
	padding-top: 48px;
	margin-left: -12px;
}
.main_contents .col4 > .col {
	position: relative;
	float: left;
	width: 25%; /*321/1356*/
	height: 350px;
	padding: 0 12px;
	box-sizing: border-box;
}
.main_contents .col4 > .col > a {	
	position: absolute;
	top: 0;
	right: 12px;
	bottom: 0;
	left: 12px;
	text-decoration-line: none;
}

.main_contents .col4 > .col > a img {
	width: 100%;
}
.main_contents .col4 > .col > a img:hover {
	opacity: 0.9;
}
.main_contents .col4 .col h3 , .main_contents .col4 .col h5 {
	margin-top: 35px;
	font-weight: 500;
	font-size: 19px;
}
.main_contents .col4 > .col p{
    margin-bottom: 10px;
    font-weight: 300;
	font-size: 15px;
    line-height: 1.2;
}
.main_contents .col4 > .col span{
	position: relative;
	color: #005da6;
	font-weight: 500;
	font-size: 16px;
}
.main_contents .col4 > .col span:after{
	position: absolute;
	right: 0;
	bottom: -3px;
	left: 0;
	width: 100%; 
	margin: 0 auto;
	border-bottom: 2px solid transparent;
	content: '';
	transition: all 0.2s ease;
}
.main_contents .col4 > .col span:hover:after  {
	border-bottom: 2px solid #005da6;
	transition: all 0.2s ease;
}
.main_contents .col4 > .col .ct_btn i {
	width: 24px;
	color: #005da6;
	vertical-align: -7px;
	transition: all 0.5s ease;
}
.main_contents .col4 > .col .ct_btn:hover i {
	margin-left: 5px;
	transition: all 0.5s ease;
}
.inner_over {
	width: 90.03984% /*1356/1506*/; 
	margin: 0 auto;
}
.ms_store {
	position: relative;
	margin-top: 47px;
	margin-bottom: 48px;
}
.ms_store  img {
	width:100%;
}
.ms_store .text {
	margin-top: 12.610619%/*171 / 1356*/ ;
	color: white;
}
.ms_store .text .button {
	width: 123px;
}

main h4 {
	position: absolute;
	font-size: 23px;
}
main .main_contents .bs {
	padding-bottom: 29px;
}
main .follow {
	color: rgba(0, 0, 0, 0.6);
	font-size: 0;
}
main .follow > span {
	font-size: 14px;
}
main .follow img {
	width: 28px;
	padding-left: 15px;
}
main .follow img:hover {
	filter: brightness(90%);
}





/* 1399이하 */
@media screen and  (max-width: 1399px) { 
	header .head_icons {
	font-size: 0;
	}
	header .head_icons i {
		padding: 0;
	}
	header .head_icons > div> a {
		padding: 15px 0 15px 0px;
	}
	.head_icons a:hover:after {
		display: none;
	}

	header .head_ms {
		margin-right: 155px;
	}
	header .head_ms > li ul.on {
		margin-right: -175px;
	}

	header .icon_search {
		margin-right: 98px;
	}
	header .icon_cart {
		margin-right: 60px;
	}
	header .icon_log {
		margin-right: 9px;
	}

	main .text h2, main .text h3 {
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 25px;
	}
	.main_contents .col4 > .col p {
		line-height: 1.4;
	}
	.main_contents .col4 > .col span {
		font-weight: 600;
	}
	.ms_store {
		margin-top: 38px;
	}
}/* 1399이하 끝*/

/* 1300 이하 */
@media screen and  (max-width: 1300px) {
	header .head_ms > li ul.on  {
		margin-right: -200px;
	}
}/* 1300이하 끝*/

/* 1274 이하 */
@media screen and  (max-width: 1274px) {
	header .head_ms > li ul.on  {
		margin-right: -220px;
	}
}/* 1274이하 끝*/

/* 1250 이하 */
@media screen and  (max-width: 1250px) {
	header .head_ms > li ul.on  {
		margin-right: -225px;
	}
}/* 1250이하 끝*/

/*  1229이하 */
@media screen and (max-width: 1229px) { 
	header .head_ms > li ul.on  {
		width: 1023px;
		margin-right: -140px;
	}
	.head_ms ul > li {
		width: 20%;
	}
	.ms_store {
		margin-top: 33px;
	}
}/*  1229이하 끝*/

/*  1124이하 */
@media screen and (max-width: 1124px) { 
	header .head_ms > li ul.on  {
		margin-right: -170px;
	}
}/*  1124이하 끝*/

/* 1083이하 */
@media screen and  (max-width: 1083px) { 
	header {
		width: 100%;
	}
	header h1 {
		padding-left: 25px;
	}
	header .head_ms {
		margin-right: 174px;
	}
	header .head_icons {
		font-size: 0;
	}
	header .icon_search {
		margin-right: 115px;
	}
	header .icon_cart {
		margin-right: 75px;
	}
	header .icon_log {
		margin-right: 24px;
	}


	header .head_ms > li ul.on  {
		margin-right: -150px;
	}

	.icon_search.on {
		left: 144px;
		width: 86.398478%;
	}
	.head_icons .search_box input[type="search"] {
		width: 80.474227%;
		margin-left: 5%;
	}
	.head_icons .search_box .search_cn {
		margin-right: 60px;
	}
	.icon_search.on > a > i {
		margin-right: 15.400651%;
	}
	.main_visual .inner { 
		width: 100%;
	}
	.main_visual .m_vs_slide1 .text {
		padding-top: 20.77562326869806%; /*225/1083*/
	}
	.main_contents .col4 > .col {
		width: 50%;
		height: 446px;
	}
	.inner_over {
		width: 100%;
	}
	.ms_store {
		margin-top: 21px;
	}
	.ms_store .text {
		margin-top: 21.791320406279%; /*236/1083*/
	}
	footer > .inner {
		width: 100%;
		box-sizing: border-box;
		padding: 0 25px;
	}
	.f_contents > li {
		width: 33.333333%;
	}
	.f_contents > .bottom {
		padding-top: 40px;
	}
}/* 1083이하 끝*/

/*  1066이하 */
@media screen and (max-width: 1066px) { 
	header .head_ms > li ul.on  {
		margin-right: -170px;
	}
}/*  1066이하 끝*/

/*  1035이하 */
@media screen and (max-width: 1035px) { 
	header .head_ms > li ul.on  {
		margin-right: -177px;
	}
}/*  1035이하 끝*/

/* 1024이하 */
@media screen and (max-width: 1024px) { 
	header .head_ms > li ul.on  {
		width: 818px;
		margin-right: -130px;
	}
	.head_ms ul.on  > li {
		width: 25%;
	}
	header .icon_search {
		margin-right: 115px;
	}
	.icon_search.on {
		width: 85.398478%;
	}
	.icon_search.on > a > i {
		margin-right: 16%;
	}
	.head_icons .search_box input[type="search"] {
		width: 81.474227%;
		margin-left: 3%;
		border-width: 2px;
	}
	.head_icons .search_box .search_cn {
		margin-right: 50px;
	}
	main .text h2, main .text h3 {
		letter-spacing: 1px;
	}
	.main_visual .m_vs_slide1 .text {
		padding-top: 20%;
	}
	.main_contents .col4 > .col {
		height: 420px;
	}
	.ms_store {
		margin-top: 22px;
	}
	footer > .inner {
		width: 100%;
		box-sizing: border-box;
		padding: 0 25px;
	}
	.f_etc {
		float: right;
	} 
}/* 1024이하 */

/*  890이하 */
@media screen and (max-width: 890px) { 
	header .head_ms > li ul.on  {
		margin-right: -150px;
	}
}/*  890이하 끝*/

/* 859이하 */
@media screen and (max-width: 859px) { 
	header h1 {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1000;
		width: 108px;
		margin: 0 auto;
	}
	header .head_top , header .head_ms {
		display: none;
	}

	header .icon_search {
		left: 0;
		margin-left: 50px;
	}
	header .head_icons i {
		padding-right: 10px;
		padding-left: 10px;
	}

	header .head_icons .icon_search i {
		padding-right: 0;
	}
	.icon_search.on {
		left: -55px;
		width: 100%;
	}

	.icon_search.on .search_box {
		height: 53px;
		margin-top: -9px;
		margin-left: -11px;
	}
	.search_box .prev {
		display: block;
	}
	.head_icons .search_box input[type="search"] {
		width: 92.474227%;
		padding-left: 36px;
		margin-top: 8px;
		margin-left: 6%;
	}
	.head_icons .search_box .search_cn {
		display: none;
	}
	.icon_search.on > a > i {
		margin-right: 90%;
	}

	header .icon_cart {
		margin-right: 55px;
	}
	header .icon_log {
		margin-right: 0;
	}
	header nav {
		display: block;
	}
	header nav ul {
		display: none;
	}
	header nav.on ul {
		display: block;
	}
	.main_visual .m_vs_slide1 .text {
		padding-top: 18.626309%; /*160/859*/
	}
	.main_contents .col4 > .col {
		height: 390px;
	}

	.ms_store {
		margin-top: 21px;
	}


}/*  859이하 */

/* 767이하 */
@media screen and (max-width: 767px) {
	header .icon_search {
		top: 11px;
		margin-left: 55px;
	}
	.icon_search.on {
		height: auto;
		box-sizing: border-box;
	}

	.head_icons .search_box input[type="search"] {
		width: 89.474227%;
		margin-left: 50px;
	}
	.icon_search.on > a > i {
		right: auto;
		left: 0;
		margin-left: 53px;
	}

	main .text h2, main .text h3 {
		margin-bottom: 0;
		font-size: 18px;
	}
	main .text .button {
		right: 0;
		left: 0;
		margin: 0 auto;
		margin-top: 10px;
	}
	.main_visual .inner .m_vs_slide img {
		padding-bottom: 42px;
	}
	.main_visual .m_vs_slide1  , .inner_over { 
		padding-bottom: 270px;
		background-color: #333333; 
	}
	.main_visual .m_vs_slide2 {
		padding-bottom: 270px;
		background-color: #E6E6E6; 
	}

	.main_visual .m_vs_slide .text , .inner_over .text {
		top: 0;
		width: 100%;
		margin-top: 56%;
		margin-left: 0;
		text-align: center;
	}
	.main_visual .m_vs_slide .text {
		padding-top: 100px;
	}
	div.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
		width: 48%;
	}
	main .text em, main .text p {
		font-weight: 300;
		font-size: 16px;
	}
	.inner_over .text {
		padding-top: 120px;
	}

	.main_contents .col4 > .col {
		width: 50%;
		height: 340px;
	}
	.main_contents .col4 .col h3, .main_contents .col4 .col h5 {
		margin-top: 10px;
	}
	
	.inner_over {
		margin-bottom: 48px;
	}
	.ms_store {
		margin-top: 0;
	}

	.f_lang {
		width: 100%;
		padding-bottom: 15px;
	}
	.f_etc {
		float: left;
	} 
	.f_etc a {
		padding-right: 4px;
		padding-left: 6px;
	}
}/* 767이하 */

/* 539이하 */
@media screen and (max-width:539px) {
	header h1 {
		left: -25px;
	}
	header .icon_search {
		margin-right: 0;
	}
	.head_icons .search_box input[type="search"] {
		width: 87.474227%;
	}
	.main_visual .m_vs_slide .text  {
		padding-top: 90px;
	}
	div.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
		right: 42%;
	}
	
	main .text h2, main .text h3 {
		font-size: 19px;
	}

	main .text .button span {
		top: 6px;
		font-weight: 500;
		font-size: 16px;
	}
	.main_contents .col4 > .col {
		width: 100%;
		height: 404px;
	}

	.ms_store {
		margin-bottom: 40px;
	}
	.inner_over .text {
    	box-sizing: border-box;
		padding-top: 80px;
    	padding-right: 30px;
		padding-left: 30px;
	}

	main .follow > span {
		font-weight: 300;
		font-size: 15px;
	}

	.f_contents {
		padding-top: 0;
	}
	footer > .inner {
		padding-top: 35px;
		padding-left: 24px;
	}
	.f_contents > li {
		width: 100%;
		padding-top: 50px;
	}
	.f_contents > li:first-child {
		padding-top: 0;
	}
	.f_etc a:first-child {
		padding-left: 0;
	}


}/* 539이하 끝 */

/* 450이하 */
@media screen and (max-width:450px) {
	.head_icons .search_box input[type="search"] {
		width: 84.474227%;
	}
}/* 450이하 끝*/

/* 380이하 */
@media screen and (max-width:380px) {
	.head_icons .search_box input[type="search"] {
		width: 84.474227%;
	}
}/* 380이하 끝*/

/* 334이하*/
@media screen and (max-width:334px) {
	.icon_search.on {
		width: 100%;
	}
	.main_visual .m_vs_slide .text  {
		padding-top: 80px;
	}
	div.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
		right: 40%;
	}
	main .text h2, main .text h3 {
		font-weight: 400;
	}
	.main_contents .col4 > .col {
		height: 414px;
	}
	.ms_store {
		margin-top: 22px;
		margin-bottom: 35px
	}
	footer > .inner {
		padding-left: 15px;
	}
	.f_contents > li {
		padding-top: 40px;
	}
	
}/* 334이하 끝 */
















